[Unit]
Description=Ollama container
before=network-online.target

[Container]
Image=docker.io/ollama/ollama:latest
ContainerName=ollama
AddDevice=/dev/dri
Environment=OLLAMA_VULKAN=1
Network=host
Volume=ollama:/root/.ollama
AutoUpdate=registry

[Service]
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
